version: "3.9"

services:
  backend:
    build: ./backend
    container_name: django_backend
    working_dir: /app
    ports:
      - "8000:8000"
    env_file:
      - "./environment/backend.env"
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: python manage.py runserver 0.0.0.0:8000

  db:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    env_file:
      - "./environment/db.env"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: